<div class="home-title">
    <div class="container">
        <div class="home-disclaimer">
            <h1>Impulso<br>AGP</h1>
            <div class="disclaimer">
                <p>O Programa de Apoio à Gestão Pública - Saúde do Instituto Votorantim 
                    tem a proposta de apoiar pequenos e médios municípios em dois eixos: 
                    continuidade do enfrentamento à COVID-19 e atenção integral à saúde. 
                    A Impulso Gov atua no programa fornecendo soluções focadas em dados 
                    para auxiliar na missão de melhorar a execução de processos e tomadas 
                    de decisão da gestão.</p>
            </div>
        </div>
    </div>
</div>