<div class="home-title">
    <div class="container">
        <div class="home-disclaimer">
            <h1>Impulso<br>AGP</h1>
            <div class="disclaimer">
                <p>Aqui você pode acompanhar de forma descomplicada a situação da RAPS e demais serviços de saúde mental de Aracaju (SE). Por meio de dados e indicadores, monitore a qualidade do cuidado prestado e aprofunde seu diagnóstico sobre o território e a população atendida.</p>
            </div>
        </div>
    </div>
</div>