{% load static %}

{% if id_tematica == "desempenho-indicadores"  %}
<div style="padding:30px;">
    <h4>Guias</h4>
    <hr>
    <div class="rowcards">
        <div class="columncard">
            <a>
                <div class="card">
                <img src="{% static 'images/guiacard.png' %}" style="width:100%">
                    <br><br><p>Guia Previne Brasil</p>
                </div>
            </a>
        </div>
        <div class="columncard">
            <a>
                <div class="card">
                    <img src="{% static 'images/guiacard.png' %}" style="width:100%">
                    <br><br><p>Guia Previne Brasil</p>
                </div>
            </a>
        </div>
        <div class="columncard">
            <a>
                <div class="card">
                    <img src="{% static 'images/guiacard.png' %}" style="width:100%">
                    <br><br><p>Guia Previne Brasil</p>
                </div>
            </a>
        </div>
        <div class="columncard">
            <a>
                <div class="card">
                    <img src="{% static 'images/guiacard.png' %}" style="width:100%">
                    <br><br><p>Guia Previne Brasil</p>
                </div>
            </a>
        </div>
    </div>
    <br><br><br><br>
    <h4>Ferramentas</h4>
    <hr>
    <iframe src="https://impulsosaudemental.org/caps-resumo/" style="width: 100%; height: 500px;"></iframe>        
</div>
{% endif %}