{% load static %}
{% include 'core_header.html' with titulo="Inicio" %}

<body>
    <div id="main">
        {% include 'menu_inicio.html' %}
        
        {% include 'core_header_home.html' %}
        <div class="row">
            <div style="width: 50%; float: left; padding: 10px; margin-left:70px;">
                <iframe title="" aria-label="Map" id="datawrapper-chart-6XxRb" src="https://datawrapper.dwcdn.net/6XxRb/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="556"></iframe>
            </div>
            <div style="width: 50%; float: left; padding: 10px;">
                <h2>Column 2</h2>
                <p>Some text..</p>
            </div>
        </div>

        <div class="footer">
            <img href="{% url 'iniciativas' %}" src="{% static 'images/Paineisiniciativas.png' %}">
        </div>

        {% include 'realizacao.html' %}

        {% include 'menu_inicio.html' %}
    </div>

<!-- <script>
    function menuIcon() {
        var x = document.getElementById("menu");
        if (x.className === "menu") {
            x.className += " responsive";
        } else {
            x.className = "menu";
        }
    }
</script> -->

</body>



